annotated-types==0.6.0
asyncio==3.4.3
attrs==23.2.0
certifi==2023.11.17
charset-normalizer==3.3.2
frozenlist==1.4.1
htmlwebshot==0.1.2
idna==3.6
imgkit==1.2.3
libsass==0.23.0
magic-filter==1.0.12
multidict==6.0.4
my-module==1.6.2
pydantic==2.3.0
pydantic_core==2.16.1
pytelegrambotapi==4.14.0
python-dotenv==1.0.0
rcssmin==1.1.1
requests==2.31.0
rjsmin==1.2.1
six==1.16.0
sqlparse==0.4.4
telebot==0.0.5
typing_extensions==4.9.0
urllib3==2.0.7
yarl==1.9.2
