table {
    border-collapse: collapse;
    width: 300px;
    font-family: "Tahoma", sans-serif;
    table-layout: fixed;
    /*width: 100%;*/
}

.header {
    background-color: #1e5878;
    color: #FFF;
}

.header span {
    padding-left: 5px;
}

.header_loc {
    padding: 10px 0;
    border-bottom: 1px solid #DDDDDD;
}

.header_date {
    padding: 10px 0;
}

.condition span {
    font-family: "Protest Riot", sans-serif;
    font-size: 25px;
    color: #900000;
    padding: 0 5px;
    text-align: center;
}

.img {
    padding-top: 15px;
}

.temp, .feelslike {
    /*padding: 10px;*/
    color: #1e5878;
}

.temp {
    padding-top: 15px;
}

.temp span, .feelslike span {
    font-size: 24px;
    color: #ef6300;
}

.feelslike {
    padding-bottom: 10px;
    opacity: 0.8;
}

.feelslike span {
    font-size: 18px;
}

thead th {
    /*font-weight: 900;*/
    font-size: 16px;
}

tbody td {
    border-bottom: 1px solid rgb(126, 162, 220);
    padding: 5px 5px;
    font-weight: 400;
    font-size: 14px;
    color: rgb(14, 39, 89);
}

tbody tr td:nth-child(odd) {
    text-align: right;
    width: 48%;
}

tbody tr td:nth-child(even) {
    font-weight: 900;
    color: #900000;
}